body {
    background-color: #F8F8FF;
    color: #696969;
    font-family: Montserrat, Roboto, serif;
}

.container {
    background-color: #FFF;
    border: 1px solid #29ccc9;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5em;
    min-height: 800px;
    padding-top: 15px;
    padding-left: 20px;
}

.data {
    border: 1px solid #41bdcc;
    border-radius: 20px;
    min-height: 100%;
    padding: 10px;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
    font-size: 18pt;
}

.fa-play-circle {
    color: #29cc23;
}

.fa-plus-circle {
    color: #29cc23;
    font-size: 24pt;
}

.my-btn {
    height: 80px;
    margin-top: 20px;
    width: 200px;
}

.movie {

}

.movie-create-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}

video {
    text-align: center;
}