{% extends 'account/base.html' %}

{% block title %}
    Chat room
{% endblock %}
{% block content %}
    <div class="col-8 offset-2 shadow mh-100">
        <div class="pt-2">
            <h3>Chat with: <a href="{% url 'chat:members' chat.id %}">{{ chat.members.all.count }} members</a></h3>
        </div>
        <hr>
        <div id="chat_block" style="height: 35em; overflow: auto;">
            {% if messages.count == 0 %}
                <p class="msg"></p>
            {% endif %}
            {% for message in messages %}
                <div class="row mx-3 msg">
                    <p class="m-2 border {% if message.author == request.user %}
                    border-primary {% else %}border-warning
                    {% endif %} rounded-lg p-2">
                        <a href="{% url 'account:profile'  message.author.username %}">
                            {{ message.author.username }}:
                        </a>
                        <br>
                        <span class="">
                                {{ message.content.text }}
                                <span class="font-weight-light">{{ message.pub_date.time }}</span>
                            </span>
                    </p>
                </div>
            {% endfor %}

        </div>
        <div class="mt-auto pb-2">
            <hr/>


            <div class="row">
                <div class="col-10">
                    <input id="chat-message-input" type="text"
                           class="form-control feed_comment_block"
                           placeholder="Write message"/>
                </div>
                <div class="col">
                    <input id="chat-message-submit" class="btn btn-outline-dark" type="button" value="Send"/>
                </div>
            </div>

        </div>
    </div>


    <input type="hidden" id="chat-id" value="{{ chat_id }}">
    <script>
        const roomName = $('#chat-id').val();

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data.message);
            let last_div = $('.msg').last();
            let message_div = $('<div>', {class: "row mx-3 msg"}).insertAfter(last_div);
            let message_text = $('<p>', {class: "m-2 border p-2 rounded", text: data.message});
            let currentUsername = "{{ request.user.username }}";
            let to_profile_link = $('<a>', {href: '', text: data.username + ':'});

            if (currentUsername === data.username) {
                message_text.addClass('border-primary');
            } else {
                message_text.addClass('border-warning');
            }
            message_div.append(message_text);
            message_text.prepend($('<br>'));
            message_text.prepend(to_profile_link);
            message_text.append($('<span>', {class: 'font-weight-light', text: ' ' + data.time}))
            let elem = document.getElementById('chat_block');
            elem.scrollTop = elem.scrollHeight;


        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function () {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message !== "") {
                let username = "{{ request.user.username}}";
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username
                }));
                messageInputDom.value = '';
            }
        };
    </script>
{% endblock %}