{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Добавление аниме{% endblock %}

{% block content %}
    <div class="movie-create-form">
        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-success" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}