{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Профиль</h1>
            <span class="font-weight-light"></span>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            <div class="my-image">
                {% if photo %}
                    <img class="img-thumbnail mx-auto d-block" src="{{ photo.url }}" alt="Profile photo"
                         width="300" height="300">
                {% elif request.user == profile_user %}
                    <p>У вас нет фотографии профиля. Хотите
                        <a href="{% url 'accounts:load_photo' %}">добавить</a>?</p>
                {% else %}
                    <p>У пользователя нет фотографии</p>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <div class="data text-center">
            <span class="font-weight-normal">Никнейм:
                <span class="font-weight-light">{{ profile_user.username }}</span>
            </span>
                <hr>
                <span class="font-weight-normal">Почта:
                <span class="font-weight-light">{{ profile_user.email }}</span>
            </span>
                <hr>
                <span class="font-weight-normal">Пол:
                <span class="font-weight-light">{{ profile_user.get_sex_display }}</span>
            </span>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            {% if photo and request.user == profile_user%}
                <a href="{% url 'accounts:load_photo' %}">Изменить</a>
            {% endif %}
        </div>
        <div class="col">

        </div>
    </div>
{% endblock %}