{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Already created account? <a href="{% url 'accounts:login' %}">Login</a></p>
        </div>
    </div>
{% endblock %}