{% extends 'accounts/base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Добро пожаловать!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <button onclick="location.href='{% url 'movies:movies_list' 1%}'" class="my-btn btn btn-outline-info">Аниме</button>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <button onclick="location.href='{% url 'discussions:discussion_list' %}'" class="my-btn btn btn-outline-success">Обсуждения</button>
        </div>
    </div>
{% endblock %}